@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf');
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/background_deser.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    
}
h1{
    font-size: 10rem;
    letter-spacing: 8px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0;
}
canvas {
    display: block;
}

#full-screen{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#button-overlay {
    margin-top: 160px;
    position: absolute;
    width: 720px;
    height: 480px;
    pointer-events: none; /* Verhindert, dass das Overlay selbst klickbar ist */
}

.button {
    position: absolute;
    width: 68px;
    height:68px;
    pointer-events: auto; /* Macht die Buttons klickbar */
    background-color: transparent; /* Hintergrundfarbe transparent */
    border: none; /* Keine Umrandung */
}


@media (max-width: 720px) {
    canvas{
        width: 100%;
    }
    .title{
        font-size: 7rem;
    }
}
@media (max-width: 520px) {
   
    .title{
        font-size: 5rem;
    }
}
@media (max-width: 420px) {
   
    .title{
        display: none;
    }
}
@media (max-height: 480px) {
    canvas{
        height: 100vh;
    }
    .title{
        display: none;
    }
    #full-screen{
        margin-top: 0;
     
    }
}